:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  --red: #ff4c4c;
  --green: #3fe045;
  --blue: #2196f3;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

button {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

button:active {
  opacity: 0.7;
}