.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: white;
  padding: 15px;
  border-bottom: 4px solid #ffd700;
}

.header h1 {
  margin: 0;
  font-size: 18px;
}

.header p {
  margin: 0;
  font-size: 12px;
  color: #666;
}

.legend-container {
  position: absolute;
  width: fit-content;
  top: 70px;
  left: 20px;
  right: 10px;
  z-index: 501;
  display: flex;
  justify-content: space-between;
}

.legend-pill {
  background-color: white;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 11px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.legend-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend-dot.green {
  background-color: var(--green);
}

.legend-dot.red {
  background-color: var(--red);
  margin-left: 10px;
}
