.info-card {
  position: absolute;
  bottom: 30px;
  left: 15px;
  right: 15px;
  background-color: white;
  border-radius: 24px;
  padding: 20px;
  z-index: 600;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);


  @media (width < 500px) {
    bottom: 100px;
    
  }
}

.info-card-content {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info-card-icon-box {
  padding: 12px;
  border-radius: 15px;
}

.info-card-icon-box--empty {
 background-color: #f0f9f0;
}

.info-card-icon-box--full {
 background-color: #f9f0f0;
}

.info-card-details {
  flex: 1;
  margin-left: 15px;
}

.info-card-details h3 {
  margin: 0;
  font-size: 18px;
}

.info-card-details .address {
  margin: 2px 0;
  font-size: 14px;
  color: #7f7f7f;
}

.info-card-details .status {
  margin-top: 8px;
  font-size: 13px;
}

.info-card-details .status-text {
  font-weight: bold;
}

.info-card-details .status-text-full {
  color: var(--red);
}

.info-card-details .status-text-empty {
  color: var(--green);
}

.info-card-details .status-time {
  color: #888;
}

.info-card-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: #f0f0f0;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.info-card-btn-row {
  display: flex;
  gap: 10px;
}

.info-card-btn-primary {
  flex: 1;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  cursor: pointer;
}

.info-card-btn-secondary {
  flex: 1;
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  cursor: pointer;
}

.info-card-btn-secondary--empty {
    color: var(--red);
    border: 2px solid var(--red);
}

.info-card-btn-secondary--full {
    color: var(--green);
    border: 2px solid var(--green);
}